<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439313482366-5c51avrqphjv9j3noo2b4rcd8ufnult9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439313482366-5c51avrqphjv9j3noo2b4rcd8ufnult9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>439313482366-49s0vf82gacvabnnm458uejk2940gdk0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB57_Mr-nufK-rQ9Wokgviz4Rq_h_6tTwU</string>
	<key>GCM_SENDER_ID</key>
	<string>439313482366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.observador.ios.Observador</string>
	<key>PROJECT_ID</key>
	<string>infinite-zephyr-92311</string>
	<key>STORAGE_BUCKET</key>
	<string>infinite-zephyr-92311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439313482366:ios:75828cb6e41d1c3c</string>
	<key>DATABASE_URL</key>
	<string>https://infinite-zephyr-92311.firebaseio.com</string>
</dict>
</plist>